<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="soari-testutils">

	<test verbose="5" name="testutils-test">
		<classes>
			<class name="com.walmart.platform.soa.examples.service.BookChapterTest" />
			<class
				name="com.walmart.platform.soa.examples.service.BookNotFoundDetailsTest" />
			<class name="com.sambit.testutils.performance.test.StatsUtilTest" />
			<class name="com.sambit.testutils.common.test.utils.ServerLauncherTest" />
			<class name="com.sambit.testutils.common.test.utils.RandomDataUtilTest" />
			<class name="com.sambit.testutils.common.test.utils.PortUtilTest" />
			<class name="com.sambit.testutils.performance.test.annotation.PerformanceTestTest" />
			<class
				name="com.sambit.testutils.performance.test.PerformanceTestListenerTest" />
			<class
				name="com.walmart.platform.soa.examples.service.BookStoreJAXRSImplTest" />
			<class
				name="com.walmart.platform.soa.examples.service.BookStoreJAXWSImplTest" />
		</classes>
	</test>
</suite>
